.stayPutHome{
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
}

.outerleft{
    float: left;
    position: absolute;
}

.outerleft ul{
    float: right;
    width: inherit;
}

.outerright{
    float: right;
    position: absolute;
    top: 70px;
    right:0;
}

#results{
    position: absolute;
    width: inherit;
    display: inline-block;
    margin: 80px 0;
} 