.stayPutHome{
    margin-left: 650px;
    margin-right: 650px;
    position: relative;
}

.outerleft{
    float: left;
    position: absolute;
    margin-top: 30px;
}

.outerleft ul{
    float: right;
    width: inherit;
}

.outerright{
    float: right;
    position: absolute;
    top: 80px;
    right:0;
}

.outerrightuser{
    float: right;
    position: absolute;
    right: 0;
    margin-right: 50px;
    bottom: 80px;
}
#postPadding{
    display: inline;
}

#results{
    position: absolute;
    width: inherit;
    display: inline-block;
    margin: 0px;
    flex-wrap: wrap;
} 